### Symfony ###
.env
.env.local
.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/*/private.pem
/var/
/vendor/

### PHPUnit ###
/phpunit.xml
.phpunit.result.cache

### Webpack Encore ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

### 📂 Fichiers générés ou volumineux ###
/public/*.pdf
/public/uploads/

### 🔒 Clés sensibles ###
/config/secrets/**/*.private.php
/config/secrets/**/*.pem

### 👨‍💻 Fichiers spécifiques à l'environnement de dev ###
/.idea/
/.vscode/
.DS_Store
*.log

### 🚫 Fichiers du serveur Apache ou web ###
/public/.htaccess
