{% extends 'base.html.twig' %}

{% block title %}Hello TypeLoadingController!
{% endblock %}

{% block body %}

	<div class="container flex justify-center items-center min-h-screen px-4 py-8">
		<table class="border-collapse border border-gray-400 mx-auto max-w-screen-lg shadow-lg rounded-lg overflow-hidden">
			<thead class="bg-gray-200">
				<tr>
					<th class="border border-gray-300 p-4 text-center">ID</th>
					<th class="border border-gray-300 p-4 text-center">Type de chargement</th>
					<th class="border border-gray-300 p-4 text-center">Action</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-300">
				{% for type_loading in type_loading %}
					<tr class="hover:bg-gray-100 transition duration-300">
						<td class="border border-gray-300 p-4 text-center">{{ type_loading.id }}</td>
						<td class="border border-gray-300 p-4 text-center">{{ type_loading.name }}</td>
						<td class="border border-gray-300 p-4 text-center">
							<div class="flex justify-center space-x-2">
								<div class="flex justify-center space-x-2">
									<a href="#" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">
										Edit
									</a>
									<a href="#" type="button" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">
										Modifier
									</a>


									<a href="#" type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-md transition duration-300">
										Supprimer
									</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
